<div class="col-md-7 col-xs-12 paddlr_0">
    <div class="prodPurchaseOption product_options bord-save">
        <ul class="product_options_section subscribe">
            <li id="section-2" class="subInfo col-md-7 col-sm-7 col-xs-6 line-r">
                <label class="step step-1">
                    <span class="check-icon">{{ pages ['check-icon'].content }}</span>
                    <input type="radio" name="plan" value="0" data-action="plan" />
                    <div class="padd-img-text">
                        <div class="img-sub">
                            {{ pages ['icon-one-time-purchase'].content }}
                        </div>
                        <div class="text-one-subs">
                            One Time Purchase
                        </div>
                    </div>
                </label>
            </li>
            <li class="active subInfo col-md-5 col-sm-5 col-xs-6">
                <label>
                    <span class="check-icon">{{ pages ['check-icon'].content }}</span>
                    <input type="radio" name="plan" value="1" data-action="plan" checked="checked" />
                    <div class="padd-img-text">
                        <div class="img-sub">
                            {{ pages ['icon-subscribe-save'].content }}
                        </div>
                        <div class="text-one-subs">
                            Subscribe & Save <span class="popup-button"> <i class="fa fa-question-circle"></i>
                 <div class="popup"><p class="title">Subscription members enjoy:</p>
                    <ul>
	                  <li>25% Off</li>
	                   <li>Easily cancel or change anytime</li>
	                   <li>Free Shipping</li>
	                   <li>Swap out for any other product down the road</li>
                    </ul>
                 </div>

               </span>
                        </div>
                    </div>
                </label>
            </li>
            {{ pages ['image-20-off'].content }}
        </ul>
    </div>

    <div id="prodSelectonBox2" class="tabs prodSelectonBox">

        <div class="swatch_options quantity-box1">
            <div class="swatch clearfix " data-option-index="0">
                <div class="quantity-key1">
                    <div class="quantity-dropdown-tab--label">Quantity:</div>
                    <span class="quantity-key--data1">
						Single
					</span>
                    <span class="icon-arrow">{{ pages ['icon-arrow'].content }} </span>
                </div>
            </div>

            <div class="swatch clearfix box-drop" data-option-index="0">
                <div class="option_title"></div>
                <div class="quantity-wrapper1">
                    <div class="quantity-dropdown-tab">
                        <input id="swatch-0-single-pack-1616981950519-product-template" type="radio" name="option-0" value="Single" checked />
                        <div data-value="Single Pack" data-id="14129363484727" class="swatch-element single-pack-swatch available">
                            <label for="swatch-0-single-pack-1616981950519-product-template" class="quantity-switcher1">
                                <div class="quantity-dropdown-tab--label">Quantity:</div>
                                <span class="quantity-dropdown-tab--data">Single</span>
                            </label>
                        </div>
                    </div>
                    <div class="quantity-dropdown-tab">
                        <input id="swatch-0-starter-pack-1616981950519-product-template" type="radio" name="option-0" value="Pet Lover Set" />
                        <div data-value="Starter Pack" data-id="14129366401079" class="swatch-element starter-pack-swatch available">
                            <label for="swatch-0-starter-pack-1616981950519-product-template" class="quantity-switcher1">
                                <div class="quantity-dropdown-tab--label">Quantity:</div>
                                <span class="quantity-dropdown-tab--data">Pet Lover Set</span>
                            </label>
                        </div>
                    </div>
                    <div class="quantity-dropdown-tab">
                        <input id="swatch-0-recommended-pack-1616981950519-product-template" type="radio" name="option-0" value="All Star Set" />
                        <div data-value="All Star Set" data-id="14129366433847" class="swatch-element recommended-pack-swatch available">
                            <label for="swatch-0-recommended-pack-1616981950519-product-template" class="quantity-switcher1">
                                <div class="quantity-dropdown-tab--label">Quantity:</div>
                                <span class="quantity-dropdown-tab--data">All Star Set</span>
                            </label>
                        </div>
                    </div>
                    <div class="quantity-dropdown-tab">
                        <input id="swatch-0-value-pack-1616981950519-product-template" type="radio" name="option-0" value="VIP Set" />
                        <div data-value="Value Pack" data-id="14129366466615" class="swatch-element value-pack-swatch available">
                            <label for="swatch-0-value-pack-1616981950519-product-template" class="quantity-switcher1">
                                <div class="quantity-dropdown-tab--label">Quantity:</div>
                                <span class="quantity-dropdown-tab--data">VIP Set</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swatch_options quantity-box2">
            <div class="swatch clearfix " data-option-index="0">
                <div class="quantity-key2">
                    <div class="quantity-dropdown-tab--label">Frequency:</div>
                    <span class="quantity-key--data2">
						Monthly
					</span>
                    <span class="icon-arrow">{{ pages ['icon-arrow'].content }} </span>
                </div>
            </div>

            <div class="swatch clearfix box-drop" data-option-index="0">
                <div class="option_title"></div>
                <div class="quantity-wrapper2">
                    <div class="quantity-dropdown-tab">
                        <input id="swatch-0-single-pack-1616981950519-product-template" type="radio" name="option-0" value="Monthly" checked />
                        <div data-value="Single Pack" data-id="14129363484727" class="swatch-element single-pack-swatch available">
                            <label for="swatch-0-single-pack-1616981950519-product-template" class="quantity-switcher2">
                                <div class="quantity-dropdown-tab--label">Frequency:</div>
                                <span class="quantity-dropdown-tab--data">Monthly</span>
                            </label>
                        </div>
                    </div>
                    <div class="quantity-dropdown-tab">
                        <input id="swatch-0-starter-pack-1616981950519-product-template" type="radio" name="option-0" value="Every 2 Months" />
                        <div data-value="Every 2 Months" data-id="14129366401079" class="swatch-element starter-pack-swatch available">
                            <label for="swatch-0-starter-pack-1616981950519-product-template" class="quantity-switcher2">
                                <div class="quantity-dropdown-tab--label">Frequency:</div>
                                <span class="quantity-dropdown-tab--data">Every 2 Months</span>
                            </label>
                        </div>
                    </div>
                    <div class="quantity-dropdown-tab">
                        <input id="swatch-0-recommended-pack-1616981950519-product-template" type="radio" name="option-0" value="Every 4 Months" />
                        <div data-value="Every 4 Months" data-id="14129366433847" class="swatch-element recommended-pack-swatch available">
                            <label for="swatch-0-recommended-pack-1616981950519-product-template" class="quantity-switcher2">
                                <div class="quantity-dropdown-tab--label">Frequency:</div>
                                <span class="quantity-dropdown-tab--data">Every 4 Months</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-eacily">Easily change, cancel or reschedule</div>

        <div class="col-md-12 col-xs-12 paddr0 product-page--submit-action">
            <button type="submit" name="add" id="subscribe" class="btn btn-success butt-add custom-font">
                Subscribe Now
            </button>
        </div>

    </div>

    <div id="prodSelectonBox" class="prodSelectonBox" style="display: none;">
        <div class="swatch_options quantity-box">
            <div class="swatch clearfix " data-option-index="0">
                <div class="quantity-key">
                    <div class="quantity-dropdown-tab--label">Quantity:</div>
                    <span class="quantity-key--data">
						Single
					</span>
                    <span class="icon-arrow">{{ pages ['icon-arrow'].content }} </span>
                </div>
            </div>

            <div class="swatch clearfix box-drop" data-option-index="0">
                <div class="option_title"></div>
                <div class="quantity-wrapper">
                    <div class="quantity-dropdown-tab">
                        <input id="swatch-0-single-pack-1616981950519-product-template" type="radio" name="option-0" value="Single Pack" checked />
                        <div data-value="Single Pack" data-id="14129363484727" class="swatch-element single-pack-swatch available">
                            <label for="swatch-0-single-pack-1616981950519-product-template" class="quantity-switcher">
                                <div class="quantity-dropdown-tab--label">Quantity:</div>
                                <span class="quantity-dropdown-tab--data">Single</span>
                            </label>
                        </div>
                    </div>
                    <div class="quantity-dropdown-tab">
                        <input id="swatch-0-starter-pack-1616981950519-product-template" type="radio" name="option-0" value="Starter Pack" />
                        <div data-value="Starter Pack" data-id="14129366401079" class="swatch-element starter-pack-swatch available">
                            <label for="swatch-0-starter-pack-1616981950519-product-template" class="quantity-switcher">
                                <div class="quantity-dropdown-tab--label">Quantity:</div>
                                <span class="quantity-dropdown-tab--data">Pet Lover Set</span>
                            </label>
                        </div>
                    </div>
                    <div class="quantity-dropdown-tab">
                        <input id="swatch-0-recommended-pack-1616981950519-product-template" type="radio" name="option-0" value="All Star Set" />
                        <div data-value="All Star Set" data-id="14129366433847" class="swatch-element recommended-pack-swatch available">
                            <label for="swatch-0-recommended-pack-1616981950519-product-template" class="quantity-switcher">
                                <div class="quantity-dropdown-tab--label">Quantity:</div>
                                <span class="quantity-dropdown-tab--data">All Star Set</span>
                            </label>
                        </div>
                    </div>
                    <div class="quantity-dropdown-tab">
                        <input id="swatch-0-value-pack-1616981950519-product-template" type="radio" name="option-0" value="Value Pack" />
                        <div data-value="Value Pack" data-id="14129366466615" class="swatch-element value-pack-swatch available">
                            <label for="swatch-0-value-pack-1616981950519-product-template" class="quantity-switcher">
                                <div class="quantity-dropdown-tab--label">Quantity:</div>
                                <span class="quantity-dropdown-tab--data">VIP Set</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-xs-12 paddr0 product-page--submit-action" data-stock-email-enabled="{{ section.settings.show_out_of_stock_email }}">
            {% assign disabled = pick_an_option %} {% unless current_variant.available %} {% assign disabled = true %} {% endunless %}
            <button type="submit" name="add" id="purchase" class="btn btn-success butt-add custom-font{% if section.settings.show_smart_checkout %} add-to-cart--secondary{% endif %}" {% if disabled %} disabled="disabled" {% endif %} data-cart-action="{{ section.settings.cart-action }}">
                {% if pick_an_option or current_variant.available %} {{ 'products.product.add_to_cart' | t }} {% else %} {{ 'products.product.sold_out' | t }} {% endif %}
            </button>

            {% if section.settings.show_smart_checkout %} {{ form | payment_button }} {% endif %}
        </div>
    </div>

    {% if product.available %} {% form 'product', product, id: "add-to-cart-form" %}
    <ul class="product-page--pricing hidden">
        <!-- Variant price -->
        <li class="product-page--pricing--variant-price">
            <span class="custom-font js" id="price-field">
                  {% if pick_an_option %}
                    {{ 'products.product.make_a_selection' | t }}
                  {% elsif current_variant.available %}
                    <span class="money">{{ current_variant.price | money }}</span> {% else %} {{ "products.product.sold_out" | t }} {% assign on_sale = false %} {% endif %}
            </span>
        </li>

        <!-- Variant 'compare at' price -->
        <li class="product-page--pricing--variant-compare-at-price">
            <span class="custom-font compare-at-price js{% unless on_sale %} hide{% endunless %}">
                  <span class="money">{{ current_variant.compare_at_price | money }}</span>
            </span>
        </li>

        {% include 'unit-price-measurement-variant', variant: current_variant %} {% case section.settings.show_discount %} {% when 'percentage' %}

        <li class="product-page--pricing--discount">
            <span class="variant-percentage-wrapper{% unless on_sale %} hide{% endunless %}">
                  - <span class="variant-percentage">{{ current_variant.compare_at_price | minus: current_variant.price | times: 100.0 | divided_by: current_variant.compare_at_price | money_without_currency | times: 100 | remove: '.0'}}%</span>
            </span>
        </li>

        {% when 'value' %}

        <li class="product-page--pricing--discount">
            <span class="variant-value-wrapper{% unless on_sale %} hide{% endunless %}">
                    - <span class="variant-value"><span class="money">{{ current_variant.compare_at_price | minus: current_variant.price | money }}</span></span>
            </span>
        </li>

        {% endcase %}

    </ul>

    {% assign hide_default_title = false %} {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %} {% assign hide_default_title = true %} {% endif %}
    <div class="product_options options-mb">
        <div class="">
            <div class="" style="width: 100%;">
                {% if product.variants.size > 0 %} {% if section.settings.product_variant_style == 'dropdowns' %} {% for option in product.options_with_values %}
                <div class="hidden product-form-option {% if section.settings.image_size == 'large' %}col-md-3{% else %}col-md-3{% endif %} col-sm-3 col-xs-12{% if hide_default_title == true %} hide{% endif %}">
                    <div class="input-field col s12 m6 materialize-select">
                        <select class="icons materialize{% if option.values.size == 1 %} single-option{% endif %}" id="SingleOptionSelector-{{ forloop.index0 }}" {% if option.values.size==1 %} disabled{% endif %}>
                            {% if pick_an_option and option.values.size > 1 %}
                            <option value="" selected="selected">Pick a {{ option.name }}</option>
                            {% endif %} {% for value in option.values %} {% if pick_an_option and option.values.size > 1 %} {% assign props = '' %} {% elsif option.selected_value == value %} {% assign props = 'selected' %} {% else %} {% assign props = '' %} {% endif %} {% comment %}Hide out of stock variants{% endcomment %} {% if product.options_with_values.size == 1 and section.settings.hide_out_of_stock %} {% assign hide = true %} {% for v in product.variants %} {% if v.option1 == value and v.available %} {% assign hide = false %} {% endif %} {% endfor %} {% else %} {% assign hide = false %} {% endif %} {% unless hide %}
                            <option {{ props }} value="{{ value | escape }}">{{ value }}</option>
                            {% endunless %} {% endfor %}
                        </select>
                        <label for="SingleOptionSelector-{{ forloop.index0 }}">{{ option.name }}</label>
                    </div>
                </div>
                {% endfor %} {% else %} {% for option in product.options %} {% include 'swatch' with option %} {% endfor %} {% endif %} {% endif %}

                <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="form-control original-select product-form__variants no-js">
                    {% for variant in product.variants %} {% if variant.available %}
                    <option {% if variant==c urrent_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                        {{ variant.title }} - <span class="money">{{ variant.price | money }}</span>
                    </option>
                    {% else %}
                    <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                    {% endif %} {% endfor %}
                </select>

                {% if section.settings.show_quantity_selector %}
                <div class="hidden bord-save {% if section.settings.product_variant_style == 'dropdowns' %}selector-wrapper{% else %}swatches-wrapper{% endif %} {% if section.settings.image_size == 'large' %}col-md-12{% else %}col-md-12{% endif %} col-sm-12 col-xs-12">
                    <div class="box-left quantity product_options_title" for="Quantity">{{ 'products.product.quantity' | t }}</div>
                    <div class="quantity-controls">
                        <button type="button" class="butt-qtl qty-minus">-</button>
                        <input type="text" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
                        <button type="button" class="butt-qtl qty-plus">+</button>
                    </div>
                </div>
                {% endif %}
                <div class="hidden col-md-12 col-xs-12 paddr0 product-page--submit-action" data-stock-email-enabled="{{ section.settings.show_out_of_stock_email }}">
                    {% assign disabled = pick_an_option %} {% unless current_variant.available %} {% assign disabled = true %} {% endunless %}
                    <button type="submit" name="add" id="purchase" class="btn btn-success butt-add custom-font{% if section.settings.show_smart_checkout %} add-to-cart--secondary{% endif %}" {% if disabled %} disabled="disabled" {% endif %} data-cart-action="{{ section.settings.cart-action }}">
                        {% if pick_an_option or current_variant.available %} {{ 'products.product.add_to_cart' | t }} {% else %} {{ 'products.product.sold_out' | t }} {% endif %}
                    </button>

                    {% if section.settings.show_smart_checkout %} {{ form | payment_button }} {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
